Brewfile.lock.json

dots/.local/*
!dots/.local
!dots/.local/bin/

dots/.config/*

!dots/.config/git
dots/.config/git/config.local

dots/.config/iterm2/*
!dots/.config/iterm2/
!dots/.config/iterm2/*iterm2.plist
!dots/.config/iterm2/*.json

!dots/.config/zsh
.zsh_history
.zsh_plugins.zsh