Brewfile.lock.json

dots/.local/*
!dots/.local
!dots/.local/bin/

dots/.config/*

!dots/.config/git
dots/.config/git/config.local

dots/.config/iterm2/*
!dots/.config/iterm2/
!dots/.config/iterm2/*iterm2.plist
!dots/.config/iterm2/*.json

dots/.config/httpie/*
!dots/.config/httpie/config.json

!dots/.config/ideavim

!dots/.config/vim

!dots/.config/zsh
.zsh_history
.zsh_plugins.zsh
.zcompcache
dots/.config/zsh/.zsh_sessions
