# ignore everything by default.
*

# explicitly add items back

# bin
!bin/
!bin/*

# dots
!dots/
!dots/*


# local binaries
!dots/.local/bin

# allow the config root
!/dots/.config/

# ghostty
!dots/.config/ghostty/
!dots/.config/ghostty/**

# git
!dots/.config/git

# httpie
!dots/.config/httpie/config.json

# ideavim
!dots/.config/ideavim

# kitty
!dots/.config/kitty/
!dots/.config/kitty/**

# nvim
!dots/.config/nvim
!dots/.config/nvim/**

!dots/.config/zellij
!dots/.config/zellij/**

# zsh
!dots/.config/zsh/
!dots/.config/zsh/**
dots/.config/zsh/.*
dots/.config/zsh/.*/
!dots/.config/zsh/.zshenv
!dots/.config/zsh/.zshrc
!dots/.config/zsh/.zstyles
!dots/.config/zsh/.zsh_plugins.txt

# re-ignore local files
*.local
local.*
*.local/
*.local.*
!.local/
!.local/**

# catch-all ignores
.DS_Store
